	/*-------------------------
	General Styles
	--------------------------*/
html {
	height: 100%;
	}
body {
	text-align: center;
	background: url("http://dash.ga.co/assets/anna-bg.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: grey;
	color: white;
	font-family: helvetica;

	position: relative;
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 50px;
	}
#gallery {
	padding:0; 
	margin:0 auto; 
	list-style-type:none; 
	overflow:hidden; 
	width:800px; 
	height:2100px; 
	border:0; 
	background: transparent;
	}
#gallery li {
	float:left;
	}
#gallery li a {
	display:block; 
	height:100px;
	width:1000px; 
	float:left; 
	text-decoration:none; 
	border-bottom:0; 
	cursor:default;
	}
#gallery li a img {
	width:600px;
	border:0;     
	}
#gallery li a:hover {
	background:transparent; 
	height:600px;
	}
#gallery li a:hover img {
	height:600px;
	}
p {
	font-size: 22px;
	}
p.interests{
	/*position: relative;*/
	margin-bottom: 20px;
	padding-bottom: 30px;
	}
h1#about{
	float:left;
	padding-left: 50px;
	color: white;
	font-size: 40px;
	}
p#about2{
	float:left;
	font-size: 30px;
	margin: 0 100px;
	width: 90%;
	text-align: left;
	}
img#homepic {
	padding: 75px auto;
	border: 7px solid white;
	border-radius: 20px;
	border-top: ridge;
	border-bottom: ridge;
	}
#wrapper{
	padding: 0 300px;
	margin: auto;
	display: inline-block;
	}
#wrapper img{
	width: 500px;
	}
.mState{
	margin: 40px 200px;
	}
.navigation {
	background: #272e38;
	}
.navigation-menu {
	background: #272e38;
	width: 100%;
	padding: 10px 0;
	}
footer {
	position: absolute;
	height: 50px;
	bottom: 0;
	padding: 25px 0px 0px 40px;
	width: 100%;
	box-sizing: border-box;
	}
input {
	border: 0;
	padding: 9px;
	font-size: 18px;
	}
input[type="submit"] {
	background: red;
	color: white;
	}
ul.nav {
	padding: 15px;
	background: #272e38;
	margin-bottom: 0;
	}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	list-style-type:none; 
	}
a {
	font-size: 22px;
}
a:link, a:visited {
	text-decoration: underline;
	color: white;
	background-color: transparent;
	}
a:hover, a:active {
	text-decoration: underline overline;
	color: white;
	background-color: red;
	font-size: 25px;
	}
.navigation{
	/*float: left;*/
	display: inline-block;
	width: 100%;
	margin-top: -16px;
	position: relative;
	}
.clearfloats {
	clear: both;
	display: block;
	}
	main {
		overflow: hidden;
	}
	/*-------------------------
	The clocks
	--------------------------*/
.button-holder {
	margin: 10px auto;
	}

.clockcontainer {
	display: inline-block;
	width: 350px;
	float: right;
	}

	#clock{
	width:320px;
	padding: 15px;
	position: relative;
	}

	#clock:after{
	content:'';
	position:absolute;
	width:320px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-175px;
	bottom:2px;
	z-index:-1;
	}


	#clock .display{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 54px;
	}


	/*-------------------------
	Light color theme
	--------------------------*/


	#clock.light{
	background-color:#272e38;
	color:#272e38;
	}

	#clock.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
	}

	#clock.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
	}

	#clock.light .digits div.dots:before,
	#clock.light .digits div.dots:after{
	background-color:#272e38;
	}

	#clock.light .alarm{
	background:url('../img/alarm_light.jpg');
	}

	#clock.light .display{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
	border: solid 1px red;
	}


	/*-------------------------
	Dark color theme
	--------------------------*/


	#clock.dark{
	background-color:#272e38;
	color:#cacaca;
	border: solid 1px white;
	}

	#clock.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
	}

	#clock.dark .digits div span{
	background-color:#cacaca;
	border-color:#cacaca;	
	}

	#clock.dark .alarm{
	background:url('../img/alarm_dark.jpg');
	}

	#clock.dark .display{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
	}

	#clock.dark .digits div.dots:before,
	#clock.dark .digits div.dots:after{
	background-color:#cacaca;
	}


	/*-------------------------
	The Digits
	--------------------------*/


	#clock .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
	}

	#clock .digits div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
	}

	#clock .digits div span:before,
	#clock .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
	}

	#clock .digits .d1{			height:5px;width:16px;top:0;left:6px;}
	#clock .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
	#clock .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

	#clock .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
	#clock .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
	#clock .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

	#clock .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
	#clock .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
	#clock .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

	#clock .digits .d4{			width:5px;height:14px;top:7px;left:0;}
	#clock .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
	#clock .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

	#clock .digits .d5{			width:5px;height:14px;top:7px;right:0;}
	#clock .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
	#clock .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

	#clock .digits .d6{			width:5px;height:14px;top:32px;left:0;}
	#clock .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
	#clock .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

	#clock .digits .d7{			width:5px;height:14px;top:32px;right:0;}
	#clock .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
	#clock .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


	/* 1 */

	#clock .digits div.one .d5,
	#clock .digits div.one .d7{
	opacity:1;
	}

	/* 2 */

	#clock .digits div.two .d1,
	#clock .digits div.two .d5,
	#clock .digits div.two .d2,
	#clock .digits div.two .d6,
	#clock .digits div.two .d3{
	opacity:1;
	}

	/* 3 */

	#clock .digits div.three .d1,
	#clock .digits div.three .d5,
	#clock .digits div.three .d2,
	#clock .digits div.three .d7,
	#clock .digits div.three .d3{
	opacity:1;
	}

	/* 4 */

	#clock .digits div.four .d5,
	#clock .digits div.four .d2,
	#clock .digits div.four .d4,
	#clock .digits div.four .d7{
	opacity:1;
	}

	/* 5 */

	#clock .digits div.five .d1,
	#clock .digits div.five .d2,
	#clock .digits div.five .d4,
	#clock .digits div.five .d3,
	#clock .digits div.five .d7{
	opacity:1;
	}

	/* 6 */

	#clock .digits div.six .d1,
	#clock .digits div.six .d2,
	#clock .digits div.six .d4,
	#clock .digits div.six .d3,
	#clock .digits div.six .d6,
	#clock .digits div.six .d7{
	opacity:1;
	}


	/* 7 */

	#clock .digits div.seven .d1,
	#clock .digits div.seven .d5,
	#clock .digits div.seven .d7{
	opacity:1;
	}

	/* 8 */

	#clock .digits div.eight .d1,
	#clock .digits div.eight .d2,
	#clock .digits div.eight .d3,
	#clock .digits div.eight .d4,
	#clock .digits div.eight .d5,
	#clock .digits div.eight .d6,
	#clock .digits div.eight .d7{
	opacity:1;
	}

	/* 9 */

	#clock .digits div.nine .d1,
	#clock .digits div.nine .d2,
	#clock .digits div.nine .d3,
	#clock .digits div.nine .d4,
	#clock .digits div.nine .d5,
	#clock .digits div.nine .d7{
	opacity:1;
	}

	/* 0 */

	#clock .digits div.zero .d1,
	#clock .digits div.zero .d3,
	#clock .digits div.zero .d4,
	#clock .digits div.zero .d5,
	#clock .digits div.zero .d6,
	#clock .digits div.zero .d7{
	opacity:1;
	}


	/* The dots */

	#clock .digits div.dots{
	width:5px;
	}

	#clock .digits div.dots:before,
	#clock .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
	}

	#clock .digits div.dots:after{
	top:34px;
	}

	/*-------------------------
	Weekdays
	--------------------------*/


	#clock .weekdays{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
	}


	#clock .weekdays span{
	opacity:0.2;
	padding:0 10px;
	}

	#clock .weekdays span.active{
	opacity:1;
	}


	/*-------------------------
	AM/PM
	--------------------------*/


	#clock .ampm{
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:12px;
	}


	/*-------------------------
	Button
	--------------------------*/

	a.button{
	background-color: red;

/*	background-image:-webkit-linear-gradient(top, #f6a7b3, #f0a3af);
	background-image:-moz-linear-gradient(top, #f6a7b3, #f0a3af);
	background-image:linear-gradient(top, #f6a7b3, #f0a3af);*/

	/*border:1px solid #eb9ba7;*/
	border-radius:4px;

	box-shadow:0 2px 2px #ccc;

	color: white;
	text-decoration: none !important;
	padding:5px 5px;
	display:inline-block;
	cursor:pointer;
	}

	a.button:hover{
	opacity:0.9;
	}

@media (min-width: 501px) {
	.navigation-menu {
		display: none;

	}
}



@media (max-width: 500px) {
.navigation {
	display: none;
	padding: 0px;
}


h1 {
	font-size: 36px; 
	}
ul.nav {
	padding: 0;
	border-bottom: solid 1px white;	
}
ul.nav li{
	display: block;
	padding: 5px;
	font-size: 25px;
	border-top: solid 1px white;
}
.nav li {
	display: block;
	padding: 5px;
	font-size: 25px;
	}
body {
	background: url("http://dash.ga.co/assets/anna-bg.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	}

.clockcontainer {
	width: 350px;
	float: none;
	margin: 0 auto;
	}
img#homepic {
	padding: 75px auto;
	border: 7px solid white;
	border-radius: 45px;
	border-bottom: ridge;
	border-top: ridge;
	}
#wrapper{
	padding: 0;
	width: 250px;
	margin: 5px auto;
	display: inline-block;
		}
#wrapper img{
	width: 250px;
	}

footer {
	position: absolute;
	height: 20px;
	bottom: 0;
	padding: 5px 0px 0px 0px;
	width: 100%;
	box-sizing: border-box;
	font-size: 10px;
	}
h1#about{
	color: white;
	font-size: 29px;
	font-style: oblique;
	padding-left: 20px;
	}
p#about2{
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	}
#gallery {
	padding:0; 
	margin:0 auto; 
	list-style-type:none; 
	overflow:hidden; 
	width:400px; 
	height:2100px; 
	background: transparent;
	}
#gallery li {
	float:left;
	}
#gallery li a {
	padding-left: 25px;
	padding-top: 40px;
	display:block; 
	height:50px;
	width:250px; 
	float:left; 
	text-decoration:none; 
	border-bottom:0; 
	cursor:default;
	}
#gallery li a img {
	width:300px;
	border:0;     
	}
#gallery li a:hover {
	background:transparent; 
	height:250px;
	}
#gallery li a:hover img {
	height:300px;
	}
.mState{
	margin: 20px 20px;
	}
}