---
title: About
---

%p Contact Reed Tillis
%p Cellular Device: (352) 215-2790
%p Email Address: MrTillis09@gmail.com


%h1#about About Reed:
%p#about2 Reed Tillis was born in Jacksonville and at a young age moved to Gainesville Florida where he attended Gainesville High School to play football and compete with the weight lifting team. After graduating from Santa Fe College he applied at the University of North Florida to persue his new found passion for technology in their computer science program. Reed is currently expanding his web application development experience through an internship with KYN Developers, a startup accelerator located in downtown Jacksonville. In his free time Reed is learning more about the Android platform framework to help him dabble in custom modification and implementing functional features to modern day tasks through the assistance of technology.