---
title: Reed Tillis
---

%img#homepic{ src: 'http://i.imgur.com/CUZQkJA.jpg' }
%p ____________________________
%button Like
%script
	$("button").on("click", function() {alert("Thank you!")});
%p Hi! I'm Reed, an intern at KYN Developers.
%p Feel free to take a look around.
/ %input{ type: 'comment', placeholder: 'Your name' }
/ %input{ type: 'email', placeholder: 'Your email' }
/ %input{ type: 'submit' } 
%p If you would like to see what we are learning find the <a href="http://ruby-lang.org">Ruby</a> in this text.