---
title: Interests
---

#wrapper
  .android
    %p.interests 
      Android
      %img.droid{ title:"Android", src: 'images/Droid.jpg' }
      
  .ncaa
    %p.interests
      NCAA
      %img.gator{ title:"NCAA", src: 'images/Gator.jpeg'}

  .develop
    %p.interests
      Developing
      %img.xda{ title:"Developing", src: 'images/xda.jpg'}

  .robot
    %p.interests
      Robotics
      %img.robot{ title:"Robotics", src: 'images/robot.jpg'}

  .gaming
    %p.interests
      Gaming
      %img.gaming{ title:"Gaming", src: 'images/gaming.jpg'}