---
Title: Mission Statment
---

.mState
	%p My goal and contribution to the rapidly expanding technological advancement of the human race is to bring on as many unconcerned individuals as possible and introduce them to the vast new world that is the digital age. It is my belief that once we as a collective become proficient in manipulating technology to our advantage we are able to break down multiple walls of impossibility.
	But first I need to get hired.